@import url(./__close/image-popup__close.css);
@import url(./__image/image-popup__image.css);
@import url(./__is-closed/image-popup__is-closed.css);
.image-popup {

    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
  }
  